In [4]:
d = {"KEY": {3,4,5,6}, "ROHIT":{1,2454,553,112}}
del d["KEY"]

In [5]:
print(d)

{'ROHIT': {112, 1, 2454, 553}}

In [6]:
d1 = {"Hello": {1,3,5,6,4,2,1}, "Hii": [1,2,3,4,5,6,7,4]}
del d1["Hello"]
print(d1)

{'Hii': [1, 2, 3, 4, 5, 6, 7, 4]}

In [7]:
dict = {"name": "Rohit", "hello":{12,3,4,5,5,}, "Something": [1,3,4,4,545,56,4]}
del dict["name"]
print(dict)

{'hello': {4, 3, 12, 5}, 'Something': [1, 3, 4, 4, 545, 56, 4]}

In [8]:
a = 10
if a < 15:
    pass

In [9]:
a < 15

True

In [10]:
if a < 15:
    print("my name is Rohit"
         )

my name is Rohit

In [11]:
if 1 < 15:
    print("my name is Rohit")

my name is Rohit

In [ ]:
if 50 < 10:
    print("10 is lesser than 5")
else

In [13]:
income =int(input())
if income < 50:
    print("I will be able to buy phone")
elif income < 70:
    print("I will be able to buy car")
elif income < 90:
    print("I will be able to rent a house")
else:
    print("I won't be able to buy anything")

70
I will be able to rent a house

In [ ]:
Total_price = int(input())
if Total_price > 20000 :
    discount = Total_price*.20
    print("Discount will be", discount)
elif Total_price <=7000 :
    discount = Total_price*.05
    print("discount will be", discount)
else :

In [ ]:
for i in range(11):
    print(i, "Hello World")

In [ ]:

import pandas as pd