In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cardekho_dataset.csv')

In [3]:
df

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,19537,Hyundai i10,Hyundai,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
15407,19540,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
15408,19541,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
15409,19542,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
15410,19543,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [4]:
def1 = pd.read_json('unece.json')
def1

,Country,Year,Area (square kilometres),Total population,"Population density, pers. per sq. km","Population aged 0-14, male","Population aged 0-14, female","Population aged 15-64, male","Population aged 15-64, female","Population aged 64+, male",...,"Employment in industry and energy (ISIC Rev. 4 B-E), share of total employment","Employment in construction (ISIC Rev. 4 F), share of total employment","Employment in trade, hotels, restaurants, transport and communications (ISIC Rev. 4 G-J), share of total employment","Employment in finance, real estate and business services (ISIC Rev. 4 K-N), share of total employment","Employment in public administration, education and health (ISIC Rev. 4 O-Q), share of total employment","Employment in other service activities (ISIC Rev. 4 R-U), share of total employment",Persons killed in road accidents,Persons injured in road accidents,Total length of motorways (km),Total length of railway lines (km)
0,Albania,2000,28748.0,3401198.0,118.31077,564851.0,529820.0,1029446.0,1086946.0,82588.0,...,NaN,NaN,NaN,NaN,NaN,NaN,280.0,336.0,NaN,400.0
1,Albania,2001,28748.0,3073734.0,106.91992,460732.0,436652.0,963612.0,980800.0,108254.0,...,NaN,NaN,NaN,NaN,NaN,NaN,297.0,250.0,NaN,409.0
2,Albania,2002,28748.0,3093465.0,107.60627,452373.0,427711.0,977294.0,995773.0,112546.0,...,NaN,NaN,NaN,NaN,NaN,NaN,250.0,228.0,NaN,428.0
3,Albania,2003,28748.0,3111162.0,108.22186,442939.0,417968.0,991075.0,1010693.0,116714.0,...,NaN,NaN,NaN,NaN,NaN,NaN,264.0,248.0,NaN,428.0
4,Albania,2004,28748.0,3127264.0,108.78197,433178.0,407988.0,1004398.0,1024845.0,120801.0,...,NaN,NaN,NaN,NaN,NaN,NaN,315.0,820.0,NaN,428.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,Uzbekistan,2012,447400.0,29774448.0,66.54995,4342195.0,4101477.0,10046617.0,10103648.0,516791.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2161.0,112228.0,NaN,NaN
880,Uzbekistan,2013,447400.0,30243172.0,67.59761,4384094.0,4133279.0,10238024.0,10286713.0,525998.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
881,Uzbekistan,2014,447400.0,30757669.0,68.74758,4465526.0,4201156.0,10410214.0,10451289.0,539106.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
882,Uzbekistan,2015,447400.0,31298929.0,69.95737,4567154.0,4286838.0,10566923.0,10599761.0,561491.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
883,Uzbekistan,2016,447400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
def2 = pd.read_excel('titanic_modified_NA.xlsx')
def2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,T
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [10]:
def3 = pd.read_csv("https://raw.githubusercontent.com/pwskills123/pwioidatascience/main/pandas/cardekho_dataset.csv")
def3

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,19537,Hyundai i10,Hyundai,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
15407,19540,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
15408,19541,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
15409,19542,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
15410,19543,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize
def5 = pd.read_html('https://en.wikipedia.org/wiki/Animal')
def5

[   Animals Temporal range: Cryogenian – present, 665–0 Ma Pha. Proterozoic Archean Had.  \
 0                                                 NaN
 1                           Scientific classification
 2                                             Domain:
 3                                              Clade:
 4                                              Clade:
 5                                         (unranked):
 6                                         (unranked):
 7                                         (unranked):
 8                                            Kingdom:
 9                                        Subdivisions
 10  Bilateria (~30 phyla) Cnidaria Ctenophora Plac...
 11                                           Synonyms
 12  Metazoa Haeckel 1874[1] Choanoblastaea Nielsen...

    Animals Temporal range: Cryogenian – present, 665–0 Ma Pha. Proterozoic Archean Had..1
 0                                                 NaN
 1                           Scientific classification
 2                                           Eukaryota
 3                                            Amorphea
 4                                              Obazoa
 5                                        Opisthokonta
 6                                             Holozoa
 7                                             Filozoa
 8                             Animalia Linnaeus, 1758
 9                                        Subdivisions
 10  Bilateria (~30 phyla) Cnidaria Ctenophora Plac...
 11                                           Synonyms
 12  Metazoa Haeckel 1874[1] Choanoblastaea Nielsen...                                      ,
                                                Phylum  \
 0                                          Arthropoda
 1                                            Mollusca
 2                                            Chordata
 3                                     Platyhelminthes
 4                                            Nematoda
 5                                            Annelida
 6                                            Cnidaria
 7                                            Porifera
 8                                       Echinodermata
 9                                             Bryozoa
 10                                           Rotifera
 11                                           Nemertea
 12                                         Tardigrada
 13  Total number of described extant species as of...

                                               Example  \
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13  Total number of described extant species as of...

                                     Described species  \
 0                                       1,257,000[66]
 1                              85,000[66] 107,000[76]
 2                                     >70,000[66][77]
 3                                          29,500[66]
 4                                          25,000[66]
 5                                          17,000[66]
 6                                          16,000[66]
 7                                          10,800[66]
 8                                           7,500[66]
 9                                           6,000[66]
 10                                          2,000[66]
 11                                      1,350[84][85]
 12                                          1,335[66]
 13  Total number of described extant species as of...

                                                  Land  \
 0                             1,000,000 (insects)[74]
 1                                          35,000[76]
 2                                          23,000[78]
 3                                             Yes[80]
 4                                      Yes (soil)[68]
 5                                      Yes (soil)[68]
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                             Yes[86] (moist plants)
 13  Total number of described extant species as of...

                                                   Sea  \
 0                        >40,000 (Malac- ostraca)[75]
 1                                          60,000[76]
 2                                          13,000[78]
 3                                             Yes[68]
 4                                           4,000[70]
 5                                             Yes[68]
 6                                             Yes[68]
 7                                             Yes[68]
 8                                           7,500[66]
 9                                             Yes[68]
 10                                           >400[83]
 11                                                Yes
 12                                                Yes
 13  Total number of described extant species as of...

                                            Freshwater  \
 0                                          94,000[67]
 1                                5,000[67] 12,000[76]
 2                                18,000[67] 9,000[78]
 3                                           1,300[67]
 4                                           2,000[67]
 5                                           1,750[67]
 6                                       Yes (few)[68]
 7                                         200–300[67]
 8                                                 NaN
 9                                           60–80[67]
 10                                          2,000[67]
 11                                                Yes
 12                                                Yes
 13  Total number of described extant species as of...

                                           Free-living  \
 0                                             Yes[68]
 1                                             Yes[68]
 2                                                 Yes
 3                             Yes[68] 3,000–6,500[81]
 4                                          11,000[70]
 5                                                 Yes
 6                                             Yes[68]
 7                                                 Yes
 8                                             Yes[68]
 9                                                 Yes
 10                                                Yes
 11                                                Yes
 12                                                Yes
 13  Total number of described extant species as of...

                                             Parasitic
 0                                      >45,000[c][69]
 1                                          >5,600[69]
 2                                40 (catfish)[79][69]
 3                        >40,000[69] 4,000–25,000[81]
 4                                          14,000[70]
 5                                             400[69]
 6                                >1,350 (Myxozoa)[69]
 7                                             Yes[82]
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13  Total number of described extant species as of...  ,
                     0                                                  1  \
 0        Opisthokonta  Holomycota (inc. fungi) Holozoa Ichthyosporea ...
 1                 NaN  Holomycota (inc. fungi) Holozoa Ichthyosporea ...
 2                 NaN                            Holomycota (inc. fungi)
 3             Holozoa  Ichthyosporea Pluriformea Filozoa Filasterea C...
 4                 NaN  Ichthyosporea Pluriformea Filozoa Filasterea C...
 5                 NaN                                      Ichthyosporea
 6                 NaN                                        Pluriformea
 7                 NaN                                        Pluriformea
 8             Filozoa  Filasterea Choanozoa Choanoflagellatea Animali...
 9                 NaN  Filasterea Choanozoa Choanoflagellatea Animali...
 10                NaN                                         Filasterea
 11          Choanozoa                 Choanoflagellatea Animalia 760 mya
 12  Choanoflagellatea                 Choanoflagellatea Animalia 760 mya
 13                NaN                                                NaN
 14           Animalia                                                NaN
 15            760 mya                                                NaN
 16            950 mya                                                NaN
 17                NaN                                                NaN
 18           1100 mya                                                NaN
 19           1300 mya                                                NaN

                           2
 0                       NaN
 1   Holomycota (inc. fungi)
 2                       NaN
 3                       NaN
 4             Ichthyosporea
 5                       NaN
 6                       NaN
 7                       NaN
 8                       NaN
 9                Filasterea
 10                      NaN
 11                      NaN
 12                      NaN
 13                      NaN
 14                      NaN
 15                      NaN
 16                      NaN
 17                      NaN
 18                      NaN
 19                      NaN  ,
                     0                                                  1  \
 0                 NaN                            Holomycota (inc. fungi)
 1                 NaN                            Holomycota (inc. fungi)
 2             Holozoa  Ichthyosporea Pluriformea Filozoa Filasterea C...
 3                 NaN  Ichthyosporea Pluriformea Filozoa Filasterea C...
 4                 NaN                                      Ichthyosporea
 5                 NaN                                        Pluriformea
 6                 NaN                                        Pluriformea
 7             Filozoa  Filasterea Choanozoa Choanoflagellatea Animali...
 8                 NaN  Filasterea Choanozoa Choanoflagellatea Animali...
 9                 NaN                                         Filasterea
 10          Choanozoa                 Choanoflagellatea Animalia 760 mya
 11  Choanoflagellatea                 Choanoflagellatea Animalia 760 mya
 12                NaN                                                NaN
 13           Animalia                                                NaN
 14            760 mya                                                NaN
 15            950 mya                                                NaN
 16                NaN                                                NaN
 17           1100 mya                                                NaN

                 2
 0             NaN
 1             NaN
 2             NaN
 3   Ichthyosporea
 4             NaN
 5             NaN
 6             NaN
 7             NaN
 8      Filasterea
 9             NaN
 10            NaN
 11            NaN
 12            NaN
 13            NaN
 14            NaN
 15            NaN
 16            NaN
 17            NaN  ,
                     0                                                  1  \
 0                 NaN                                      Ichthyosporea
 1                 NaN                                      Ichthyosporea
 2                 NaN                                        Pluriformea
 3                 NaN                                        Pluriformea
 4             Filozoa  Filasterea Choanozoa Choanoflagellatea Animali...
 5                 NaN  Filasterea Choanozoa Choanoflagellatea Animali...
 6                 NaN                                         Filasterea
 7           Choanozoa                 Choanoflagellatea Animalia 760 mya
 8   Choanoflagellatea                 Choanoflagellatea Animalia 760 mya
 9                 NaN                                                NaN
 10           Animalia                                                NaN
 11            760 mya                                                NaN
 12            950 mya                                                NaN
 13                NaN                                                NaN

              2
 0          NaN
 1          NaN
 2          NaN
 3          NaN
 4          NaN
 5   Filasterea
 6          NaN
 7          NaN
 8          NaN
 9          NaN
 10         NaN
 11         NaN
 12         NaN
 13         NaN  ,
                    0                                   1   2
 0                NaN                          Filasterea NaN
 1                NaN                          Filasterea NaN
 2          Choanozoa  Choanoflagellatea Animalia 760 mya NaN
 3  Choanoflagellatea  Choanoflagellatea Animalia 760 mya NaN
 4                NaN                                 NaN NaN
 5           Animalia                                 NaN NaN
 6            760 mya                                 NaN NaN
 7            950 mya                                 NaN NaN,
                    0   1
 0  Choanoflagellatea NaN
 1                NaN NaN
 2           Animalia NaN
 3            760 mya NaN,
                    0                                                  1  \
 0           Animalia  Porifera Ctenophora ParaHoxozoa Placozoa Cnida...
 1                NaN  Porifera Ctenophora ParaHoxozoa Placozoa Cnida...
 2                NaN                                           Porifera
 3                NaN                                         Ctenophora
 4                NaN                                         Ctenophora
 5        ParaHoxozoa  Placozoa Cnidaria Bilateria Xenacoelomorpha Ne...
 6                NaN  Placozoa Cnidaria Bilateria Xenacoelomorpha Ne...
 7                NaN                                           Placozoa
 8                NaN                                           Cnidaria
 9                NaN                                           Cnidaria
 10         Bilateria  Xenacoelomorpha Nephrozoa Deuterostomia Ambula...
 11               NaN  Xenacoelomorpha Nephrozoa Deuterostomia Ambula...
 12               NaN                                    Xenacoelomorpha
 13         Nephrozoa  Deuterostomia Ambulacraria Chordata Protostomi...
 14     Deuterostomia  Deuterostomia Ambulacraria Chordata Protostomi...
 15               NaN                                       Ambulacraria
 16               NaN                                       Ambulacraria
 17               NaN                                           Chordata
 18               NaN                                           Chordata
 19               NaN                                                NaN
 20       Protostomia                                 Ecdysozoa Spiralia
 21               NaN                                 Ecdysozoa Spiralia
 22               NaN                                          Ecdysozoa
 23               NaN                                           Spiralia
 24               NaN                                           Spiralia
 25  blastopore mouth                                                NaN
 26               NaN                                                NaN
 27      symm. embryo                                                NaN
 28         hox genes                                                NaN
 29     multicellular                                                NaN

                         2
 0                     NaN
 1                Porifera
 2                     NaN
 3                     NaN
 4                     NaN
 5                     NaN
 6                Placozoa
 7                     NaN
 8                     NaN
 9                     NaN
 10                    NaN
 11        Xenacoelomorpha
 12                    NaN
 13                    NaN
 14  Ambulacraria Chordata
 15  Ambulacraria Chordata
 16                    NaN
 17                    NaN
 18                    NaN
 19                    NaN
 20                    NaN
 21              Ecdysozoa
 22                    NaN
 23                    NaN
 24                    NaN
 25                    NaN
 26                    NaN
 27                    NaN
 28                    NaN
 29                    NaN  ,
                    0                                                  1  \
 0                NaN                                           Porifera
 1                NaN                                           Porifera
 2                NaN                                         Ctenophora
 3                NaN                                         Ctenophora
 4        ParaHoxozoa  Placozoa Cnidaria Bilateria Xenacoelomorpha Ne...
 5                NaN  Placozoa Cnidaria Bilateria Xenacoelomorpha Ne...
 6                NaN                                           Placozoa
 7                NaN                                           Cnidaria
 8                NaN                                           Cnidaria
 9          Bilateria  Xenacoelomorpha Nephrozoa Deuterostomia Ambula...
 10               NaN  Xenacoelomorpha Nephrozoa Deuterostomia Ambula...
 11               NaN                                    Xenacoelomorpha
 12         Nephrozoa  Deuterostomia Ambulacraria Chordata Protostomi...
 13     Deuterostomia  Deuterostomia Ambulacraria Chordata Protostomi...
 14               NaN                                       Ambulacraria
 15               NaN                                       Ambulacraria
 16               NaN                                           Chordata
 17               NaN                                           Chordata
 18               NaN                                                NaN
 19       Protostomia                                 Ecdysozoa Spiralia
 20               NaN                                 Ecdysozoa Spiralia
 21               NaN                                          Ecdysozoa
 22               NaN                                           Spiralia
 23               NaN                                           Spiralia
 24  blastopore mouth                                                NaN
 25               NaN                                                NaN
 26      symm. embryo                                                NaN
 27         hox genes                                                NaN

                         2
 0                     NaN
 1                     NaN
 2                     NaN
 3                     NaN
 4                     NaN
 5                Placozoa
 6                     NaN
 7                     NaN
 8                     NaN
 9                     NaN
 10        Xenacoelomorpha
 11                    NaN
 12                    NaN
 13  Ambulacraria Chordata
 14  Ambulacraria Chordata
 15                    NaN
 16                    NaN

In [17]:
def5[1]

,Phylum,Example,Described species,Land,Sea,Freshwater,Free-living,Parasitic
0,Arthropoda,NaN,"1,257,000[66]","1,000,000 (insects)[74]",">40,000 (Malac- ostraca)[75]","94,000[67]",Yes[68],">45,000[c][69]"
1,Mollusca,NaN,"85,000[66] 107,000[76]","35,000[76]","60,000[76]","5,000[67] 12,000[76]",Yes[68],">5,600[69]"
2,Chordata,NaN,">70,000[66][77]","23,000[78]","13,000[78]","18,000[67] 9,000[78]",Yes,40 (catfish)[79][69]
3,Platyhelminthes,NaN,"29,500[66]",Yes[80],Yes[68],"1,300[67]","Yes[68] 3,000–6,500[81]",">40,000[69] 4,000–25,000[81]"
4,Nematoda,NaN,"25,000[66]",Yes (soil)[68],"4,000[70]","2,000[67]","11,000[70]","14,000[70]"
5,Annelida,NaN,"17,000[66]",Yes (soil)[68],Yes[68],"1,750[67]",Yes,400[69]
6,Cnidaria,NaN,"16,000[66]",NaN,Yes[68],Yes (few)[68],Yes[68],">1,350 (Myxozoa)[69]"
7,Porifera,NaN,"10,800[66]",NaN,Yes[68],200–300[67],Yes,Yes[82]
8,Echinodermata,NaN,"7,500[66]",NaN,"7,500[66]",NaN,Yes[68],NaN
9,Bryozoa,NaN,"6,000[66]",NaN,Yes[68],60–80[67],Yes,NaN
10,Rotifera,NaN,"2,000[66]",NaN,>400[83],"2,000[67]",Yes,NaN
11,Nemertea,NaN,"1,350[84][85]",NaN,Yes,Yes,Yes,NaN
12,Tardigrada,NaN,"1,335[66]",Yes[86] (moist plants),Yes,Yes,Yes,NaN
13,Total number of described extant species as of...,Total number of described extant species as of...,Total number of described extant species as of...,Total number of described extant species as of...,Total number of described extant species as of...,Total number of described extant species as of...,Total number of described extant species as of...,Total number of described extant species as of...

In [19]:
covid = pd.read_csv('COVID19Cases.csv')
covid

C:\Users\trkro\AppData\Local\Temp\ipykernel_9608\641311957.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  covid = pd.read_csv('COVID19Cases.csv')

,Case_Type,People_Total_Tested_Count,Cases,Difference,Date,Combined_Key,Country_Region,Province_State,Admin2,iso2,iso3,FIPS,Lat,Long,Population_Count,People_Hospitalized_Cumulative_Count,Data_Source,Prep_Flow_Runtime
0,Confirmed,NaN,6,0,5/22/2020,Western Sahara,Western Sahara,NaN,NaN,EH,ESH,NaN,24.215500,-12.885800,597330.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
1,Confirmed,NaN,0,0,2/3/2020,Switzerland,Switzerland,NaN,NaN,CH,CHE,NaN,46.818200,8.227500,8654618.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
2,Deaths,NaN,0,0,3/1/2020,Cyprus,Cyprus,NaN,NaN,CY,CYP,NaN,35.126400,33.429900,1207361.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
3,Confirmed,NaN,23,0,4/21/2020,Antigua and Barbuda,Antigua and Barbuda,NaN,NaN,AG,ATG,NaN,17.060800,-61.796400,97928.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
4,Deaths,NaN,56,0,5/11/2020,Thailand,Thailand,NaN,NaN,TH,THA,NaN,15.870032,100.992541,69799978.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950665,Deaths,NaN,0,0,1/22/2020,"Missoula, Montana, US",US,Montana,Missoula,US,USA,30063.0,47.037286,-113.921351,119600.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
950666,Confirmed,NaN,0,0,1/22/2020,"Ontonagon, Michigan, US",US,Michigan,Ontonagon,US,USA,26131.0,46.665226,-89.313905,5720.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
950667,Deaths,NaN,0,0,1/22/2020,"Sargent, North Dakota, US",US,North Dakota,Sargent,US,USA,38081.0,46.108304,-97.632172,3898.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
950668,Confirmed,NaN,0,0,1/22/2020,"Ohio, Kentucky, US",US,Kentucky,Ohio,US,USA,21183.0,37.477518,-86.853681,23994.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM
950669,Confirmed,NaN,0,0,1/22/2020,"Marion, Mississippi, US",US,Mississippi,Marion,US,USA,28091.0,31.231326,-89.820922,24573.0,NaN,2019 Novel Coronavirus COVID-19 (2019-nCoV) Da...,6/4/2020 11:15:39 PM

IndexingError: Too many indexers